<div class="nested-fields">
  <div class="row mx-auto">
    <fieldset>
      <div class="datebox">
        <div class="btn-right">
          <%= link_to_remove_association "日付を削除", f, class: "btn btn-secondary btn-block" %>
        </div>
        <%= f.label :date, "日付", class: "label" %>
        <%= f.date_field :hotel_date, class: "input", placeholder: "日付" %>
        <%= f.label :hotel_name, "宿泊先の名前", class: "label" %>
        <%= f.text_field :hotel_name, :size=>"40",class: "input", placeholder: "名前" %>
        <%= f.label :hotel_url, "宿泊先URL", class: "label" %>
        <%= f.text_field :hotel_url, :size=>"40",class: "input", placeholder: "URL" %>
        <%= f.label :image, "宿泊先画像", class: "label" %>
        <%= f.attachment_field :image, class: "input", placeholder: "宿泊先画像" %>
        <%= f.label :hotel_price, "宿泊先の料金", class: "label" %>
        <%= f.number_field :hotel_price, :size=>"20",class: "input", placeholder: "料金" %>
        
        

        <div class="btn-right btn-margin">
          <%= link_to_add_association "車プランを追加", f, :schedule_driveplans,
          class: "btn btn-secondary btn-block",
          data: {
          data_association_insertion_traversal: 'closest',
          association_insertion_method: 'append'
          }%>
        </div>
        <div class="mx-auto">
            <%= f.fields_for :schedule_driveplans do |schedule_driveplan| %>
                <%= render "schedules/schedule_driveplan_fields", f: schedule_driveplan %>
            <% end %>
        </div>
      </div>
  </div>
</div>