<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新規スケジュール作成
      </h1>
    </div>
  </div>
</section>

<% if @schedule.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @schedule.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_with(model: @schedule, local: true) do |f| %>
            <div class="field">
                <%= f.label :title, "旅のタイトル", class: "label" %>
                <%= f.text_field :title, class: "input" %>
            </div>
            <div class="field">
                <div class="form-inline">
                    <tr valign="middle" >
                        <%= f.label :body, "出発日", class: "label" %>
                        <%= f.date_field :start_date, class: "input" %>
                    </tr>
                    <tr valign="middle" >
                        <%= f.label :body, "帰着日", class: "label" %>
                        <%= f.date_field :end_date, class: "input" %>
                    </tr>
                </div>
            </div>
            <div class="field">
                <%= f.label :num_p, "人数", class: "label" %>
                <%= f.number_field :title, class: "input" %>
            </div>
            <div class="field">
                <%= f.label :image, "写真", class: "label" %>
                <%= f.attachment_field :image, class: "input" %>
            </div>
            <%= f.submit '投稿', class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>