<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        スケジュール
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @schedule, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @schedule.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>スケジュール</th>
                </tr>
                <tr>
                  <td><%= simple_format @schedule.start_date.strftime("%Y年%-m月%-d日") %></td>
                  <td><%= simple_format @schedule.end_date.strftime("%Y年%-m月%-d日") %></td>
                  <td><%= simple_format @schedule.num_p.to_s %></td>
                </tr>
              </table>
              <% @sum_hotel_price = 0 %>
              <% @schedule.schedule_hoteldates.each do |schedule_hoteldate| %>
                <div class="datebox">
                    <%= simple_format schedule_hoteldate.hotel_date.strftime("%-m月%-d日") %>
                    <%= simple_format schedule_hoteldate.hotel_name %>
                    
                    <%= simple_format schedule_hoteldate.hotel_url %>
                    <%= simple_format schedule_hoteldate.hotel_price.to_s.concat('円') %>
                    <% @sum_hotel_price += schedule_hoteldate.hotel_price %>
                    <div class = "planbox1">
                        <% schedule_hoteldate.schedule_driveplans.each do |schedule_driveplan| %>
                            <%= simple_format schedule_driveplan.start_time.strftime("%H:%M") %>
                            <%= simple_format schedule_driveplan.d_address %>
                            <%= simple_format schedule_driveplan.a_address %>
                            
                            <% params = URI.encode_www_form([["origin", schedule_driveplan.d_address], ["destination", schedule_driveplan.a_address]]) %>
                    
                            <% uri = URI.parse("https://maps.googleapis.com/maps/api/directions/json?#{params}&key=AIzaSyAhijDhCRPrT1XrK8ygyqMZsCzIWSdqpow") %>
                            <% response = Net::HTTP.get_response(uri) %>
                            <% result = JSON.parse(response.body) %>
                            <% @distance = result["routes"][0]["legs"][0]["distance"]["text"] %>
                            <% @duration = result["routes"][0]["legs"][0]["duration"]["text"] %>
                            <%= @distance %>
                            <%= @duration %>
                        <% end %>
                    </div>
                </div>
                
              <% end %>
              <div class = "right">
                <label>宿泊費用</label><br>
                <%= simple_format @sum_hotel_price.to_s.concat('円') %>
              </div>
              <% if @schedule.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_schedule_path(@schedule), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            By <%= @schedule.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @schedule.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@schedule.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @schedule.user.username %> さんのページへ
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>


